@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700&display=swap');

* {
	  font-family: 'Work Sans', sans-serif;
	  box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}
img {
	max-width: 100%;
}
pre {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}
button {
    cursor: pointer;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
.container:after {
	content: '';
	clear: both;
	display: block;
}
.logo {
    margin: 0;
    font-size: 34px;
}
header {
	padding: 20px 0;
    border-bottom: solid 1px #e6e6e6;
}
.pt_20 {
	padding-top: 20px;
}
.pb_20 {
	padding-bottom: 20px;
}
.bottom_border {
	border-bottom: solid 1px #e6e6e6;
}
.section_title {
    margin: 0 0 15px;
}
.example_container {
    background-color: #f1f1f1;
    display: flex;
}
.code_block {
    width: 60%;
    margin: 0;
    padding: 30px;
    border-right: solid 1px #ddd;
}
.example_block {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.example_body {
    padding: 15px 0;
    margin: 15px 0;
}
.example_btn {
    background-color: #4ca8cc;
    padding: 10px 15px;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
}
.red {
    color: red;;
}
.full_doc {
    font-size: 16px;
}
.full_doc a {
    color: blue;
}