* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.tooltip_container {
    display: inline-block;
    position: relative;
}
.tooltip_box {
    position: absolute;
    pointer-events: none;
    width: 140px;
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 7px;
    border-radius: 2px;
}
.tooltip_box:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 7px;
}
.top_left:after {
    border-color: rgba(0,0,0,0.7) transparent transparent transparent;
    left: 10px;
    bottom: -14px;
}
.top_right:after {
    border-color: rgba(0,0,0,0.7) transparent transparent transparent;
    right: 10px;
    bottom: -14px;
}
.bottom_left:after {
    border-color: transparent transparent rgba(0,0,0,0.7) transparent;
    left: 10px;
    top: -14px;
}
.bottom_right:after {
    border-color: transparent transparent rgba(0,0,0,0.7) transparent;
    right: 10px;
    top: -14px;
}
.top_center:after {
    border-color: rgba(0,0,0,0.7) transparent transparent transparent;
    left: 0;
    bottom: -14px;
    right: 0;
    width: 0;
    margin: 0 auto;
}
.right_center:after {
    border-color: transparent rgba(0,0,0,0.7) transparent transparent;
    left: -14px;
    width: 0;
    margin: 0 auto;
    top: 50%;
    height: 0;
    transform: translateY(-50%);
}
.bottom_center:after {
    border-color: transparent transparent rgba(0,0,0,0.7) transparent;
    left: 0;
    top: -14px;
    right: 0;
    width: 0;
    margin: 0 auto;
}
.left_center:after {
    border-color: transparent transparent transparent rgba(0,0,0,0.7);
    right: -14px;
    width: 0;
    margin: 0 auto;
    top: 50%;
    height: 0;
    transform: translateY(-50%);
}